<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance - GymBudd</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Link to your favicon -->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="/img/logo.png" style="margin-top: -19px !important;" alt="GymBudd Logo">
        </div>
        <h1 class="mai">We are doing some maintenance.</h1>
        <p style="text-align: center;">The application is going through some updates.</p>
        <span class="maintenance-animation">Please check back later.</span>
    </div>
</body>
</html>
