<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance - GymBudd</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Link to your favicon -->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar">
                <div class="logo">
                    <img src="/img/logo.png" alt="GymBudd Logo">
                </div>
                <input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" class="menu-icon">&#9776;</label>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>
        <h1 class="mai">We are doing some maintenance.</h1>
        <p style="text-align: center;">The application is going through some updates.</p>
        <span class="maintenance-animation">Please check back later.</span>
    </div>
</body>
</html>
